@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital,wght@0,400..700;1,400..700&family=Limelight&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary-color:  #594A3C;
    --secondary-color:#f8f4e7;
    --third-color:  #f3ddc2;
    --font-text: 'Baskervville', serif;
    --font-title: 'Limelight', cursive;
}

body{
    font-family: var(--font-text);
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

header{
    text-align: center;
    padding: 40px;
    font-family: var(--font-title);
}

h1, h2{
    font-family: var(--font-title);
}

form{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

input{
    width: 40%;
    padding: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    font-size: 16px;
}

button{
    padding: 10px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-weight: bold;
    width: 100px;
}

button:hover{
    cursor: pointer;
    background-color: #D9C2A7;
    color: var(--primary-color);
}

.task-list{
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    align-items: center;
}

.task-card{
    background-color: var(--third-color);
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    height: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

li {
    background-color: var(--secondary-color);
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

li button {
    margin-left: 5px;
    padding: 5px 8px;
    font-size: 12px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.conclude-btn {
    background-color: #A3C4BC; /* verde claro */
    color: var(--primary-color);
}

.delete-btn {
    background-color: #F28C8C; /* vermelho claro */
    color: var(--secondary-color);
}

li button:hover {
    opacity: 0.8;
}

.task-card ul {
    min-height: 150px;
    max-height: 220px;
    overflow-y: auto;
    padding: 10px;
}

